<ul class="bt-bar">
    <li class="active">
        <a routerLink="/dynamic" routerLinkActive="active"><i class="i-ft-dynamic"></i>动态<i class=""></i></a>
    </li>
    <li>
        <a routerLink="/patientList" routerLinkActive="active"><i class="i-ft-patient"></i>病人列表</a>
    </li>
    <li>
        <a routerLink="/history" routerLinkActive="active"><i class="i-ft-hisrecord"></i>历史纪录 </a>
    </li>
    <li>
        <a routerLink="/awaitDeal" routerLinkActive="active"><i class="i-ft-upcoming"></i>我的 </a>
    </li>
</ul>