<div class="hd-mange">
    <div class="left"><a>消化内科</a></div>
    <div class="hd-mange-text">历史记录</div>
</div>
<div class="index-bd">
    <div class="tab">
        <ul class="strip">
            <li><a>压疮危险因素评估表</a></li>
            <li class="active"><a>压疮评估表</a></li>
        </ul>
        <div class="tab-names mt">
            <ul class="tab-name list-line ft-sm  hrecord-list">
                <li>
                    <h3>001 刘德安<span class="span-normal span-warn ml">待审核</span></h3>
                    <p>左肩胛部<span class="txt-danger ml">I期</span></p>
                    <p class="txt-muted">2016-10-15 10:23 李小护</p>
                    <a class="btn-min btn-plain-primary">修改</a>
                </li>
                <li>
                    <h3>001 刘德安<span class="span-normal span-success ml">审核通过</span></h3>
                    <p>16分<span class="txt-muted">/</span> <span class="txt-primary">轻度危险</span><span class="txt-muted ml">Braden</span></p>
                    <p class="txt-muted">2016-10-15 10:23 李小护</p>
                    <a class="btn-min btn-plain-primary">修改</a>
                </li>
                <li>
                    <h3>001 刘德安<span class="span-normal span-danger ml">审核未通过</span></h3>
                    <p>16分<span class="txt-muted">/</span> <span class="txt-primary">轻度危险</span><span class="txt-muted ml">Braden</span></p>
                    <p class="txt-muted">2016-10-15 10:23 李小护</p>
                    <a class="btn-min btn-plain-primary">修改</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<my-nav></my-nav>